<!DOCTYPE html>
<html ng-app="app">

    <head>
        <script src ="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="js/script.js"></script>
    </head>
    
    <body ng-controller="PruebaController">
        Escribe el color del texto (formato HTML): <input ng-model="estilo.color">
        <br>
        Escribe el color del fondo (formato HTML):<input ng-model="estilo.backgroundColor">
        <br>
        <br>
        <div ng-style="estilo">Este es un texto con colores dinamicos</div>
    </body>
    
</html>