<!DOCTYPE html>
<html ng-app="app">

    <head>
        <link rel="stylesheet" href="css/style.css">
        <script src ="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="js/script.js"></script>
    </head>
    
    <body ng-controller="PruebaController">
        <input ng-model="clasesCss.rojo" type="checkbox"> Aplicar estilo rojorl
        <br>
        <input ng-model="clasesCss.subrayado" type="checkbox"> Aplicar estilo subrayao
        <br>
        <input ng-model="clasesCss.negrita" type="checkbox"> Aplicar estilo negrin
        <br>
        <br>
        <div ng-class="clasesCss">Este es un texto con clases dinamicas</div>
    </body>
    
</html>